<dl>
  <dt>APR</dt>
  <dd><%= @user_apr.to_fs(:percentage, {:precision => 4}) %></dd>

  <dt>Number of years</dt>
  <dd><%= @user_years %></dd>

  <dt>Principal</dt>
  <dd><%= @user_pv.to_fs(:currency) %></dd>

  <dt>Payment</dt>
  <dd><%= @interest_payment.to_fs(:currency) %></dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
